services:
  api:
    build:
      context: .
      dockerfile: docker/Dockerfile.dev
    container_name: aether-api
    ports:
      - "8080:8080"
    environment:
      APP_ENV: local

      DB_HOST: mysql
      DB_PORT: "3306"
      DB_NAME: aether
      DB_USER: aether
      DB_PASS: secret

      REDIS_ADDR: redis:6379
    volumes:
      - .:/app
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started

  mysql:
    image: mysql:8.0
    container_name: aether-mysql
    environment:
      MYSQL_DATABASE: aether
      MYSQL_USER: aether
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-uroot", "-proot"]
      interval: 3s
      timeout: 3s
      retries: 30

  redis:
    image: redis:7
    container_name: aether-redis
    ports:
      - "6379:6379"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: aether-phpmyadmin
    depends_on:
      - mysql
    ports:
      - "8081:80"
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_USER: root
      PMA_PASSWORD: root

volumes:
  mysql_data: